:root {
  --sans: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

input[type="date"]:not(:focus):not([value])::-webkit-datetime-edit {
  color: transparent;
}